<ng-container *ngIf="fGroup && fGroup.get(cName) && fGroup.get(cName)!.invalid && (fGroup.get(cName)!.dirty && fGroup.get(cName)!.touched)">
    <div fxLayout="row"
         fxFlexAlign="center"
         fxLayoutGap="10px"
         class="ng-invalid-tooltip"
         [id]="cName + 'Feedback'">

        <mat-icon>warning</mat-icon>

        <ng-container *ngIf="fGroup.get(cName)!.hasError('required') || fGroup.get(cName)!.hasError('requiredTrue')">
            This field is required
        </ng-container>
        <ng-container *ngIf="fGroup.get(cName)!.hasError('message')">
            {{fGroup.get(cName)!.errors!['message']}}
        </ng-container>
        <ng-container *ngIf="fGroup.get(cName)!.hasError('amountExceeded')">
            Balance exceeded
        </ng-container>
    </div>

</ng-container>