@use '@angular/material' as mat;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
$theme: mat.define-theme((color: (theme-type: dark,
                primary: mat.$violet-palette,
            ),
            typography: (brand-family: 'Comic Sans',
                bold-weight: 900),
            density: (scale: -1)));
@include mat.core();

input,
select {
    &.ng-invalid.ng-dirty {
        border-color: #AF1036 !important;
    }
}

.ng-invalid-tooltip {
    z-index: 5;
    max-width: 100%;
    padding: 0.3rem 0.5rem;
    font-size: 0.875rem;
    color: #fff;
    background-color: #AF1036;
}

html,
body {
    height: 100%;


    body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}